#hangman {
  width: 200px;
  height: 250px;
  background-color: white;
  position: relative;
  border: 2px solid #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Head */
#hangman .head {
  width: 60px;
  height: 60px;
  background-color: #f9c987;
  border-radius: 50%;
  position: absolute;
  top: -60px;
}

/* Body */
#hangman .body {
  width: 10px;
  height: 100px;
  background-color: #f9c987;
}

/* Arms */
#hangman .arm {
  width: 40px;
  height: 10px;
  background-color: #f9c987;
  position: absolute;
}

#hangman .arm.left {
  top: 40px;
  left: -50px;
  transform: rotate(20deg);
}

#hangman .arm.right {
  top: 40px;
  right: -50px;
  transform: rotate(-20deg);
}

/* Legs */
#hangman .leg {
  width: 40px;
  height: 10px;
  background-color: #f9c987;
  position: absolute;
}

#hangman .leg.left {
  top: 130px;
  left: -40px;
  transform: rotate(45deg);
}

#hangman .leg.right {
  top: 130px;
  right: -40px;
  transform: rotate(-45deg);
}
